# 上传github忽略的文件
*.class

# package file
*.war
*.ear

# maven ignore
target/
out/

# eclipse ignore
.settings/
.project
.classpatch

# idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
